<fieldset [formGroup]="orgList" style="display: inline-block; width:45%; ">
  Загруженные значения <button (click)="showList=!showList"><span *ngIf="!showList">Показать</span><span *ngIf="showList">Скрыть</span></button>
  <div *ngIf="showList">
    <button (click)="addNewItems()">Догрузить</button>
    <ul>
      <li *ngFor="let item of items; let i = index"> 
        {{item.name}}
        <button (click)="toStar(i)"><span *ngIf="!item.is_star">В избранное</span><span *ngIf="item.is_star" style="background-color: lightgray;">Удалить из избранного</span></button>
      </li>
    </ul>
  </div>
</fieldset>

<fieldset [formGroup]="orgList" style="display: inline-block; width:45%; ">
  Список избранного <button (click)="showFavorites=!showFavorites"><span *ngIf="!showFavorites">Показать</span><span *ngIf="showFavorites">Скрыть</span></button>
  <div *ngIf="showFavorites">
    <ul >
      <li *ngFor="let item of favsList; let i = index"> 
        {{item}}
      </li>
    </ul>
  </div>
</fieldset>
